.global-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.grid-container {
    display: flex;
    flex-flow: wrap;
    gap: 1px;
    width: 900px;
    height: 750px;
    align-content: baseline;
}

.new-div {
    background-color: rgb(108, 29, 218);
    opacity: 0.1;
    width: 25px;
    aspect-ratio: 1 / 1;
}

.hovered {
    background-color: black;
}